.NOTE-page-container {
  min-height: 100vh;
  background: inherit;
}

.NOTE-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.NOTE-card {
  width: calc(100% - 45vh - 12vw);
  max-height: 500px;
  font-size: 1.2em;
}

.NOTE-card:first-of-type {
  margin-top: 15vh;
}

.NOTE-card:last-of-type {
  margin-bottom: 7.5vh;
}

.NOTE-imageSm {
  max-height: 300px;
  max-width: 25vw !important;
}

.NOTE-imageMd {
  max-height: 400px;
  max-width: 80vw;
}

.NOTE-imageLg {
  max-height: 100%;
  max-width: 100%;
}

.NOTE-button-container {
  position: sticky;
  left: 0px;
  bottom: 0px;
  transform: translate(10px, 10px);
}

.NOTE-button {
  font-weight: bold;
  box-shadow: 0px 0px 5px 0px rgb(40, 40, 40);
  bottom: 7.5px;
  transition: background-color 0.05s ease-out;
}

.NOTE-button:hover {
  background-color: mediumspringgreen;
  box-shadow: 0px 0px 5px 0px rgb(30, 30, 30);
  cursor: pointer;
}

.NOTE-x-space1 {
  right: 15px;
}

.NOTE-x-space2 {
  right: 7.5px;
}

.NOTE-y-space {
  bottom: 14px;
  /* background-color: white !important; */
}



.NOTE-iframe {
  min-height: 150px;
  height: 85vh;
  width: 85vw;
  background-color: white;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 100;
  animation: fadeIn ease .5s forwards;
}




@media screen and (max-width:1200px) {
  .NOTE-card {
    width: calc(100% - 30vh - 8vw);
  }
}

@media screen and (max-width:900px) {
  .NOTE-card {
    width: calc(100% - 15vh - 4vw);
  }
}

@media screen and (max-height:700px) {
  .NOTE-card {
    width: calc(100% - 420px * .75 - 12vw);
  }
}

@media screen and (max-height:700px) and (max-width:1200px) {
  .NOTE-card {
    width: calc(100% - 280px * .75 - 8vw);
  }
}

@media screen and (max-height:700px) and (max-width:900px) {
  .NOTE-card {
    width: calc(100% - 140px * .75 - 4vw);
  }
}

@media screen and (max-width:800px) {
  .NOTE-card {
    font-size: 1.0em;
  }
}

@media screen and (max-width:600px) {
  .NOTE-card {
    font-size: 0.8em;
  }
}

@media screen and (max-width:450px) {
  .NOTE-card {
    width: calc(100% - 70px * .75 - 2vw);
  }
  .NOTE-card:first-of-type {
    margin-top: 75px;
  }
}

@media screen and (max-height:500px) {
  .NOTE-card:first-of-type {
    margin-top: calc(62.5px + 2.5vh);
  }
  .NOTE-card:last-of-type {
    margin-bottom: calc(31.25px + 1.25vh);
  }
}