.SOCIAL-profile-master-container {
  /* min-height: 100vh; */
}

/* HEADER */

.SOCIAL-profile-header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  animation: fadeIn ease .5s forwards;
}

.SOCIAL-profile-header-profile-image {
  height: 175px;
  width: 175px;
  border-radius: 50%;
  /* background-color: rgba(255, 255, 255, 0.2); */
  /* border: 1px solid black; */
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.SOCIAL-profile-header-profile-image img {
  /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
}

.SOCIAL-profile-header-profile-image img {
  height: 175px;
  width: 175px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.SOCIAL-profile-header-name {
  margin-bottom: 10px;
}

.SOCIAL-profile-options-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
  animation: fadeIn ease .5s forwards;
}

.SOCIAL-profile-options-container button {
  height: 30px;
  width: 200px;
  margin-bottom: 5px;
}

.SOCIAL-profile-bio-container {
  background-color: #0007;
  /* margin-bottom: 20px; */
  animation: fadeIn ease .5s forwards;
}

/* HEADER */



/* .SOCIAL-posts-container */
.SOCIAL-posts-container {
  min-width: 500px;
  /* height: 200vh; */
}

/* SOCIAL AD */
.SOCIAL-ad-container {
  opacity: 0.75;
  position: sticky;
  top: 25px;
  height: 500px;
}