.Social-master-container {
  min-height: 150vh;
  background-color: #fffC;
  animation: fadeIn ease .5s forwards;
  padding: 100px;
}

.Social-post-form {
  width: 100%;
  min-height: 150px;
  max-height: 200px;

  background-color: #00F3;
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

.Social-post-submit-btn {
  float: right;
  margin: 10px;
  height: 40px;
  width: 80px;
}