.Social-navbar-master-container {
  background-color: rgba(173, 219, 219, 0.6);
  /* background-color: rgba(255, 255, 255, 0.6); */
  backdrop-filter: blur(10px);

  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  position: sticky;
  bottom: 0;

  
  
  
  left: 50%;
  transform: translateX(-50%);
  
  width: 530px;
  padding: 7.5px 10px;

}

.Social-navbar-master-container div {
  background-color: #fffC;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Social-navbar-master-container div:hover {
  background-color: rgba(68, 204, 68, 0.726);
  cursor: pointer;
}